{% extends 'base.html.twig' %}
{% block title %} Restaurant/Cafetaria Harmony {% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="jumbotron">
                <p>Hello world.</p>
            </div>
            <div class
        </div>

    </div>
{% endblock %}